[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
djangorestframework = "*"
aiogram = "*"
pytz = "*"
persiantools = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
python-dotenv = "*"
requests = "*"
aiohttp = "*"
zeep = "*"
pillow = "*"
django = "*"
psycopg2 = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
