.user-card {
    align-items: right;
    background-color: #e3e3e33b;
    padding: 20px;
    /* border-radius: 8px; */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 12px;
}


.user-card-header {
    margin-bottom: 10px;
    color: #003975;
}


.user-card p {
    text-align: right;
    color: #312c2c;
    margin: 8px;
}

.user-card strong {
    color: #002e5f;
}