/* .appointments-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
}


.appointments-table th,
.appointments-table td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 14px;
    text-align: center;
} */
